<%= render 'shared/page_title', title: "Log in" %>

<div class="container">
	<%= form_for(:session, :html => {role: "form"}, url: login_path) do |f| %>

		<div class="form-group row justify-content-center">
			<label class="col-1 form-control-label text-right">
				<strong><%= f.label :email %></strong>
			</label>

			<div class="col-8">
			<%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
			</div>
		</div>

		<div class="form-group row justify-content-center">
			<label class="col-1 form-control-label text-right">
				<strong><%= f.label :password %></strong>
			</label>

			<div class="col-8">
			<%= f.password_field :password, class: "form-control", placeholder: "Enter your password" %>
			</div>
		</div>

		<div class="form-group row col-8">
			<div class="offset-4">
			<%= f.submit "Login", class: "btn btn-primary btn-xlarge" %>
			</div>
		</div>

		<div class="col-md-4 offset-4 colormatch">
			[<%= link_to "Don't have an account ? Sign up now!",signup_path %>]
		</div>

	<% end %>
</div>