<%= render 'shared/page_title', title: "Chef #{@chef.chefname}'s profile" %>
<div class="container">
<div class="row justify-content-center">
		<div>
			<%= gravatar_for @chef, size: 150 %>
		</div>
</div>
</div>
<% if @chef.recipes.count != 0 %>
	<h4 class="text-center"><%= @chef.chefname %>'s recipes</h4>

	<nav aria-label="Page navigation">
		<ul class="pagination justify-content-center">
			<%= will_paginate @chef_recipes %>
		</ul>
	</nav>

	<%= render 'recipes/recipe', obj: @chef_recipes %>

	<nav aria-label="Page navigation">
		<ul class="pagination justify-content-center">
			<%= will_paginate @chef_recipes %>
		</ul>
	</nav>
<% else %>
	<h4 class="text-center">No recipes yet!</h4>
<% end %>