<%= render 'shared/page_title', title: "create a new recipe" %>

<% if @recipe.errors.any? %>

	<div class="row justify-content-center">
		<div class="col-md-7">
			<div class="alert alert-danger" role="alert">
				<h2 class="alert-heading">
					<%= pluralize(@recipe.errors.count, "error") %>
					prohibited this <%= @recipe.class %> from being saved:
				</h2>

				<ul>
					<% @recipe.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>


<% end %>


<div class="container">
	<%= form_for(@recipe, :html => {role: "form"}) do |f| %>

		<div class="form-group row justify-content-center">
			<label class="col-1 form-control-label text-right">
			 	<strong><%= f.label :name %></strong>
			</label>

			<div class="col-8">
			    <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
			</div>
		</div>

		<div class="form-group row justify-content-center">
			<label class="col-1 form-control-label text-right">
				<strong><%= f.label :description %></strong>
			</label>

			<div class="col-8">
			<%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter steps to create recipe" %>
			</div>
		</div>

		<div class="form-group row col-8">
			<div class="offset-4">
				<button type="submit" class="btn btn-primary btn-xlarge">Sign in</button>
			</div>
		</div>

		<div class="col-md-4 offset-4 colormatch">
			[<%= link_to "Cancel request and return to recipes listing",recipes_path %>]
		</div>

	<% end %>
</div>



